@{
    ViewData["Title"] = "✕〇";
}

<div class="container">
    <div class="d-flex flex-column mb-4">
        <div class="col-md-10 text-center">
            <h1 class="display-4 mb-4 text-warning fw-bold"><i class="bi bi-question-circle"></i>クイズ</h1>
            <p class="lead mb-4">各〇✕クイズ問題にチャレンジしてみてください。</p>
        </div>
        <div id="quiz-area">
            <a
                id="Q1Button"
                class="btn btn-primary"
                href="#"
                role="button"
                onclick="startQuiz('Q1: お金は「物々交換」の代わりに使われるものです。', true, 10); return false;"
            >第1問</a>
            <a
                id="Q2Button"
                class="btn btn-primary"
                href="#"
                role="button"
                onclick="startQuiz('Q2: お金の価値は常にかわらない。', false, 10); return false;"
            >第2問</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/quiz.js"></script>
}